@import url("https://fontlibrary.org/face/8bit-wonder");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");

body{
	background: linear-gradient(0deg, white, #00ccff);
	font-family: "8BIT WONDER", cursive;
	text-align: center;
	margin: 0 auto;
}

.wrap{
	width: 90%;
	margin: auto;
}

/*HEADER***********************************************************************************/
/******************************************************************************************/
#header{
	/*KEEP NAV ON TOP*/
	position: fixed;
	z-index: 99999;
	/*****************/
	width: 100%;
	background: white;
	box-shadow: 0 0 1em 1em white;
	border-bottom: solid 0.4em #ff3300;
	filter:invert(1);
}

#header img{
	width: 4em;
}

#header img:nth-child(2){
	filter: invert(1);
}

#header p{
	display: inline-block;
}

#icons{
	float: left;
}

#contact{
	float: right;
}

#contact img{
	display: inline-block;
	width: 3em;
}

#contact img:hover{
	background-color: white;
	border-radius: 5em;
	filter: invert(1);
}

#content{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-size: cover;
}
/******************************************************************************************/

/*PROJECTS*********************************************************************************/
#projects{
	cursor: url("../images/cursor_pen.png"), auto;
	background: url("../images/blueprint.png") center;
	margin: 7em auto;
	margin-bottom: 0;
	padding: 0.5em;
	box-shadow: 1em 0 1em 0.5em black;
	font-family: "Cabin Sketch", cursive;
	font-weight: bold; 
	overflow: hidden;
}

#projects p{
	color: white;
	font-size: 2em;
	text-shadow: 0.1em 0.1em black; 
}

#projects li{
	display: inline-block;
	width: 30%;
	text-shadow: 0.1em 0.1em white;
}

#projects img{
	width: 100%;
}

#projects li:hover{
	height: auto;
	color: white;
	text-shadow: 0.1em 0.1em black;
	border: dashed 0.25em white;
}

.slides{
	list-style: none;
	width: 100%;
	padding: 0;
	overflow: hidden;
}
/******************************************************************************************/

#footer{
	background: white;
	padding: 1em;
	border-top: solid 0.4em #ff3300;
	box-shadow: 0 0 1em 1em black;
}