body {
  background: url('./assets/skycg.jpg') fixed center top;
  background-size: cover;
  font-family: 'Calibre','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;//-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align:center;
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  margin-left: 0; 
  font-size: 3em; 
}

h1, h2{
  margin: 0;
}

h2{
  font-size: 1em;
}
.header{
  margin-bottom: 0;
  padding-top:0.1em;
  padding-bottom:0.5em;
  background-color: black;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size:1.5rem;
  box-shadow: 0 10px 6px -6px black;
  z-index: 10;
}

.buttons{
  margin-top: 1em;
  font-size:0.8em;
}

.footer{
  font-size: 1rem;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

p{
  margin: 0.25em;
}

.text{
  height: 100%;
}

.body {
  margin-top: 15%;
  margin-bottom: 1.5em;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.content{
  margin: 1em;
  background-color: white;
  border: 0.2em black solid;
  border-radius: 1em;
  padding: 0.3em;
  padding-top: 0;
  font-weight: bold;
  box-shadow: 0 10px 6px -6px black;
  width: 90%;
}

h3{
  background-color: black;
  color:white;
  border-radius: 1em;
  margin: 0.25em;
  padding: 0.3em;
}

.profile{
  border: 0.25em black solid;
  border-radius: 50%;
  box-shadow: 0 10px 6px -6px black;
  width: 18vw;
}

.bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 98%;
}

.edc {
  margin: 0.5em;
  background-color: white;
  border: 0.2em black solid;
  border-radius: 1em;
  box-shadow: 0 10px 6px -6px black;
  width: 45%;
}

.edc img{
  margin: 1em;
  width: 8em;
}

.exp {
  margin: 0.5em;
  background-color: white;
  border: 0.2em black solid;
  border-radius: 1em;
  box-shadow: 0 10px 6px -6px black;
  width: 45%;
}

.exp img{
  width: 4em;
  margin: 1em;
}

a {
    color: white;
    margin: 1em;
}

a:hover {
    color:gray;
}

.f {
  animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

@media only screen and (min-width: 360px) and (min-height:740px){
  body{
    height: 100vh;
  }
  .header{
    font-size: 3rem;
  }
  .footer{
    font-size: 1rem;
  }
  .body{
    margin-top: 35%;
    margin-bottom: 0;
    font-size: 2rem;
  }
  .profile{
    width: 30vw;
  }
}

@media only screen and (min-width: 1300px){
  body{
    height: 100vh;
  }
  .body{
    margin-bottom: 1.5em;
    margin-right: 1em;
    font-size: 1rem;
  }
  .profile{
    width: 15vw;
  }
}