body {
  background: url('./assets/skycg.jpg') fixed center top;
  background-size: cover;
  font-family: 'Calibre','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;//-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  margin-top: 0;
  margin-left: 0; 
  font-size: 0.5em; 
}

h1, h2{
  font-size: 2em;
  margin: 0;
}

h2{
  font-size: 1em;
}



.video{
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video iframe, .video object, .video embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

iframe{
  width: 100%;
  height: calc((100vw*9) /16);
}
.buttons{
  margin-top: 1em;
  font-size:0.8em;
}

.footer{
  font-size: 2.5em;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 0.3em;
}

p{
  margin: 0.25em;
}

.text{
  height: 100%;
}

.body {
  display: flex;
  flex-wrap: wrap;
  left: 0;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.box{
  font-size: 2em;
  margin: 0.5em;
  background-color: white;
  border: 0.2em black solid;
  border-radius: 0.5em;
  padding: 1em;
  font-weight: bold;
  box-shadow: 0 10px 6px -6px black;
  min-height: 200px;
  min-width: 20vw;
  text-align: center;
}


h3{
  background-color: black;
  color:white;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.3em;
}

h3:hover{
   background-color: #4c8bf5;
}

.bg {
  background-color: ;
  display: flex;
  flex-wrap: wrap;
  width: 99%;
}

.header{
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
  padding-top:0.1em;
  padding-bottom:0.5em;
  background-color: black;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 10px 6px -6px black;
  z-index: 10;
}

.header a{
  font-size: 2em;
}

.footer a{
    font-size:1.5em;
}


  #lang{
    font-size: 0.8em;
  }
a {
    color: white;
    margin: 1em;
    text-decoration: none;
}

a:hover {
    color:gray;
}

.f {
  animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

@media only screen and (min-width: 956px){
  body{
    height: 100vh;
    margin-top: 190px;
  }

  body #cv{
     margin-bottom: 150px;
  }
  body #projects{
    margin-bottom: 150px;
  }
  body #skills{
    margin-bottom: 150px;
  }
  body #about{
    margin-bottom: 200px;
  }
  .header{
    font-size: 2em;
  }
    /*PHONE*/
    .box{
      min-width: 20vw; 
    }

    /*DESKTOP*/
  .box img{
    min-height: 100px;
  }
    #about{
      min-width: 80vw; /*PHONE FIX*/
      font-size: 2em;
    }

   #about img{
    min-width: 10vw;
    border: 0.15em black ;
    border-radius: 100em;
    margin:1em;
  }
  .footer a{
    font-size: 1em;
  }
}

@media only screen and (min-height: 3200px){
  body{
    height: 100vh;
    margin-top: 190px;
  }
  .header{
    font-size: 5em;
  }
    /*PHONE*/
     .box{
      min-width: 90vw; 
      font-size: 5em;
    }
  .box img{
    min-height: 400px;
  }
    #about{
      min-width: 80vw; /*PHONE FIX*/
      font-size: 7.5em;
    }

   #about img{
    min-width: 50vw;
    border: 0.15em black ;
    border-radius: 100em;
    margin:1em;
  }
  .footer a{
    font-size: 3em;
  }
}
